
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Artwork</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav>
        <img src="https://www.amocrm.ru/uploads/2019/06/6a1309bf54007942fe4fa24d489618d2promo_files63aartmart-2.png", width="15%" >

        <ul>
            <li><a href="{% url 'home' %}">HOME</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'artwork' %}">ARTWORKS</a></li>
            <li><a href="{% url 'artist_artworks' %}">MY ARTWORKS</a></li>
                <li><a href="{% url 'cart' %}">CART</a></li>
                <li><a href="{% url 'logout' %}">LOGOUT</a></li>
            {% else %}
            <li><a href="{% url 'artwork' %}">ARTWORKS</a></li>
                <li><a href="{% url 'artist_login' %}">ARTIST LOGIN</a></li>
                <li><a href="{% url 'user_login' %}">USER LOGIN</a></li>
                <li><a href="{% url 'register' %}">REGISTER</a></li>
            {% endif %}
        </ul>
    </nav>
    
    <main class="container">
        <h1>Delete Artwork</h1>
        <p> Are you sure you want to delete "{{artwork}}"? </p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" style="margin-left: 35%; width:30%">Yes,Delete</button>
        </form>

</main>
</body>
</html> 