{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
   
</head>
<body>
    <nav>
        <img src="https://www.amocrm.ru/uploads/2019/06/6a1309bf54007942fe4fa24d489618d2promo_files63aartmart-2.png", width="15%" >

        <ul>
            {% if user.is_authenticated %}
                <li><a href="{% url 'artwork' %}"> ARTWORKS</a></li>
                <li><a href="{% url 'artist' %}">ARTIST</a></li>
                <li><a href="{% url 'cart' %}">CART</a></li>
                <li><a href="{% url 'logout' %}">LOGOUT</a></li>
            {% else %}
             
                <li><a href="{% url 'artist_login' %}">ARTIST LOGIN</a></li>
                <li><a href="{% url 'user_login' %}">USER LOGIN</a></li>

                <li><a href="{% url 'register' %}">REGISTER</a></li>
            {% endif %}
        </ul>
    </nav>
    <div class="container">
    <h1 style="text-align: center;">Checkout</h1>
    <p>Thank you for your purchase!</p>
    <p>Total to be paid : Rs {{ order.total_price }}</p>
</div>
</body>
</html>
