<!DOCTYPE html>
<html>
<head>
    <title>Order History</title>
</head>
<body>
    <h1>Your Orders</h1>
    <ul>
        {% for order in orders %}
        <li>
            Order #{{ order.id }} - Total: ${{ order.total_price }} 
            <ul>
                {% for item in order.items.all %}
                <li>
                    {{ item.artwork.title }} (x{{ item.quantity }}) - ${{ item.price }}
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
